<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039259402863-6su05f41tlms9edii7klqarh4m0a46hc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039259402863-6su05f41tlms9edii7klqarh4m0a46hc</string>
	<key>API_KEY</key>
	<string>AIzaSyCd3H-ztqz8FBFJq1BosgACYCHIdQ8WFdw</string>
	<key>GCM_SENDER_ID</key>
	<string>1039259402863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zaladaApp</string>
	<key>PROJECT_ID</key>
	<string>zalada-192c9</string>
	<key>STORAGE_BUCKET</key>
	<string>zalada-192c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039259402863:ios:efe1a06dd125cc872e039a</string>
</dict>
</plist>